ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: "quarterly"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: ^(attic|tutorials|src/pygama/math|src/pygama/flow/datagroup.py)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: "v4.4.0"
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: check-json
  - id: check-toml
  - id: check-docstring-first
    exclude: ^src/pygama/raw/(fc/fc_event_decoder.py|compass/compass_event_decoder.py)$
  - id: debug-statements
  - id: end-of-file-fixer
  - id: forbid-new-submodules
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: "v2.4.0"
  hooks:
  - id: setup-cfg-fmt

- repo: https://github.com/PyCQA/isort
  rev: "5.12.0"
  hooks:
  - id: isort

- repo: https://github.com/asottile/pyupgrade
  rev: "v3.13.0"
  hooks:
  - id: pyupgrade
    args: ["--py38-plus"]

- repo: https://github.com/psf/black
  rev: "23.9.1"
  hooks:
  - id: black-jupyter

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: "v1.5.1"
  hooks:
  - id: mypy
    files: src
    stages: [manual]

- repo: https://github.com/hadialqattan/pycln
  rev: "v2.2.2"
  hooks:
  - id: pycln
    exclude: ^src/pygama/pargen
    args: [--all]

- repo: https://github.com/PyCQA/flake8
  rev: "6.1.0"
  hooks:
  - id: flake8
    exclude: ^src/pygama/pargen
    additional_dependencies: [
      flake8-bugbear>=23.1.17,
      flake8-print,
      pep8-naming
    ]

- repo: https://github.com/kynan/nbstripout
  rev: "0.6.1"
  hooks:
    - id: nbstripout
      args: ["--drop-empty-cells",
             "--extra-keys", "metadata.kernelspec metadata.language_info"]

- repo: https://github.com/mgedmin/check-manifest
  rev: "0.49"
  hooks:
  - id: check-manifest
    stages: [manual]

- repo: https://github.com/codespell-project/codespell
  rev: "v2.2.5"
  hooks:
  - id: codespell

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: "v0.9.0.6"
  hooks:
  - id: shellcheck

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: "v1.10.0"
  hooks:
  - id: python-no-log-warn
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: "v3.0.3"
  hooks:
    - id: prettier
      types_or: [json]
